<?xml version="1.0"?>

<model>
  <name>Road</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Jared Rego</name>
  </author>

  <description>
    A Road model for assignment 3, from https://www.turbosquid.com/3d-models/3d-road-road%C2%A0models-1645111
  </description>
</model>
