<?xml version="1.0"?>

<model>
  <name>dust2b</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Henil Patel</name>
  </author>

  <description>
    A model of a complex scene based on Dust 2 B-site
	car model is used under CC license with credit as follows:
	"Wrecked FSO Polonez" (https://skfb.ly/6WV8L) by AsG_Alligator is licensed under Creative Commons Attribution (http://creativecommons.org/licenses/by/4.0/).
  </description>
</model>
