<?xml version="1.0"?>

<model>
  <name>distractor1WhitestripsMultiple</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Jared Rego </name>
  </author>

  <description>
    Distrctor Object white multiple stripes for A3
  </description>
</model>
